/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/

html{
	
	color:#011502;
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size:36px;
	font-weight:bold;
	margin: 20px; 
	color: #fff;
	letter-spacing: 2.5px;
}

.content{
	background-color:#A44A3F;
	width:80%;
	padding:20px;
	margin:20px auto;
	border-radius: 10px;
}

body{
	text-align: center;
}

#search-form{
	float: right;
}

.animalDiv{
	border: 3px solid black;
}

.library{
	margin-top: 100px;
}

.btn{
	margin: 10px;
}

label{
	margin-bottom: 20px;
	background-color: #EDD382;
	font-size: 20px;
	padding: 15px;
	border-radius: 5px;
}

#animal-input{
	margin-bottom: 20px;
	border-radius: 5px;
}